/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vs
/.editorconfig

dsfsdfsdf.php
verify_email.blade.php
project_datail.php

/.styleci.yml
/assets
/public/assets
/storage
/vendor
/storage/logs
